In [1]:
import numpy as np
import pandas as pd
import xlrd
import openpyxl

import os
folder_name = '应收帐款汇总表/'
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

type_name = '应收帐款汇总表'
input_filename = type_name +'.xls'
output_filename = folder_name + type_name+'_本期增加.xlsx'

#df = pd.read_excel(input_filename, sheet_name ='应收帐款汇总表4月')
df = pd.read_excel(input_filename, sheet_name =0)
df.columns.values

array(['单据', '客户', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', '统计',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'], dtype=object)

In [2]:
names = df.loc[0]
print(names)
print(names[names == '名称'].index)
print(names[names == '本期增加'].index)

单据               公司
客户               区域
Unnamed: 2      业务员
Unnamed: 3       编号
Unnamed: 4       名称
统计             期初余额
Unnamed: 6     本期增加
Unnamed: 7     本期减小
Unnamed: 8     期末余额
Unnamed: 9    保证金余额
Name: 0, dtype: object
Index(['Unnamed: 4'], dtype='object')
Index(['Unnamed: 6'], dtype='object')

In [3]:
df.columns = df.iloc[0,:]
print(df.columns.values)

df2 = df[ df['本期增加'] != 0]
df2 = df2[ ['名称','本期增加'] ]
df2.head()

['公司' '区域' '业务员' '编号' '名称' '期初余额' '本期增加' '本期减小' '期末余额' '保证金余额']

0         名称     本期增加
0         名称     本期增加
2      佛山威宜斯    23080
5     佛岗安基建材     70.4
8    置地裕万陶钟生   1065.6
27  怀集大成岗金瑞宝  11519.4

In [4]:
df2.set_index('名称',inplace=True)
df2.reset_index(inplace=True)
#df2.set_value(df2.shape[0]-1, '名称', '总计')
df2.iat[df2.shape[0]-1,0] ='总计'
df2.drop([0],axis=0,inplace=True)
df2.index.names=['序号']

In [5]:
df2.head()

0         名称     本期增加
序号
1      佛山威宜斯    23080
2     佛岗安基建材     70.4
3    置地裕万陶钟生   1065.6
4   怀集大成岗金瑞宝  11519.4
5    湛江坡头金尊玉   8388.1

In [6]:
df2.tail()

0               名称         本期增加
序号
222         郁南尚家设计         1598
223         惠州白兔陶瓷       4271.9
224   澳琪腰线厂B（发外加工）         5796
225  佛山市龙御天进出口有限公司      34361.2
226             总计  2.57757e+06

In [7]:
writer = pd.ExcelWriter(output_filename) #creates instance of an excel workboo
df2.to_excel(writer,startrow = 1, sheet_name= 'sheet1') #creates workbook

# handle the spreadsheet format
workbook = writer.book
worksheet = writer.sheets['sheet1']      
percent_fmt = workbook.add_format({'num_format': '0.00'})
worksheet.set_column('C:C', None, percent_fmt)

header_format = workbook.add_format({'bold': True,'text_wrap': True,
                                             'align': 'center',
                                             'valign': 'vcenter',
                                             'fg_color': '#D7E4BC', 'border': 1})
worksheet.merge_range('A1:C1','应收账款汇总',header_format)        



writer.save() #saves workbook to file in python file directory

In [8]:
print('success')

success