In [8]:
import numpy as np
import pandas as pd
import xlrd
import openpyxl

import os
folder_name = '应收帐款汇总表/'
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

month_name = '应收帐款汇总表'
input_filename = month_name +'.xls'
output_filename = folder_name + month_name+ '_添加类别.xlsx'

df = pd.read_excel(input_filename, sheetname ='应收帐款汇总表1月')
df.columns.values

WARNING *** file size (138751) not 512 + multiple of sector size (512)

array(['单据', '客户', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', '统计',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'], dtype=object)

In [9]:
names = df.loc[0]
print(names)
print(names[names == '名称'].index)
print(names[names == '本期增加'].index)

单据               公司
客户               区域
Unnamed: 2      业务员
Unnamed: 3       编号
Unnamed: 4       名称
统计             期初余额
Unnamed: 6     本期增加
Unnamed: 7     本期减小
Unnamed: 8     期末余额
Unnamed: 9    保证金余额
Name: 0, dtype: object
Index(['Unnamed: 4'], dtype='object')
Index(['Unnamed: 6'], dtype='object')

In [10]:
df.columns = df.iloc[0,:]
print(df.columns.values)

df2 = df[ df['本期增加'] != 0]
df2 = df2[ ['名称','本期增加'] ]
df2.head()

['公司' '区域' '业务员' '编号' '名称' '期初余额' '本期增加' '本期减小' '期末余额' '保证金余额']

0         名称     本期增加
0         名称     本期增加
2      佛山威宜斯      630
3     揭阳大丰建材      630
17     惠州郑少锋     45.9
27  怀集大成岗金瑞宝  11046.9

In [11]:
df2.set_index('名称',inplace=True)
df2.reset_index(inplace=True)
df2.set_value(df2.shape[0]-1, '名称', '总计')
df2.drop([0],axis=0,inplace=True)
df2.index.names=['序号']

In [12]:
df2.head()

0         名称     本期增加
序号
1      佛山威宜斯      630
2     揭阳大丰建材      630
3      惠州郑少锋     45.9
4   怀集大成岗金瑞宝  11046.9
5    东莞麻涌何晓东    379.4

In [13]:
df2.tail()

0               名称         本期增加
序号
204         惠州白兔陶瓷       7257.4
205       桂林恭城红华装饰       7276.3
206   澳琪腰线厂B（发外加工）         2898
207  佛山市龙御天进出口有限公司        38800
208             总计  2.25751e+06

In [14]:
writer = pd.ExcelWriter(output_filename) #creates instance of an excel workboo
df2.to_excel(writer,'sheet1') #creates workbook 
writer.save() #saves workbook to file in python file directory