In [2]:
import numpy as np
import pandas as pd
import xlrd
import openpyxl

import os
folder_name = '应收帐款汇总表/'
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

month_name = '应收帐款汇总表'
input_filename = month_name +'.xls'
output_filename = folder_name + month_name+ '_添加类别.xlsx'

#df = pd.read_excel(input_filename, sheetname ='应收帐款汇总表3月')
df = pd.read_excel(input_filename, sheet_name =0)
df.columns.values

array(['单据', '客户', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', '统计',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'], dtype=object)

In [3]:
names = df.loc[0]
print(names)
print(names[names == '名称'].index)
print(names[names == '本期增加'].index)

单据               公司
客户               区域
Unnamed: 2      业务员
Unnamed: 3       编号
Unnamed: 4       名称
统计             期初余额
Unnamed: 6     本期增加
Unnamed: 7     本期减小
Unnamed: 8     期末余额
Unnamed: 9    保证金余额
Name: 0, dtype: object
Index(['Unnamed: 4'], dtype='object')
Index(['Unnamed: 6'], dtype='object')

In [4]:
df.columns = df.iloc[0,:]
print(df.columns.values)

df2 = df[ df['本期增加'] != 0]
df2 = df2[ ['名称','本期增加'] ]
df2.head()

['公司' '区域' '业务员' '编号' '名称' '期初余额' '本期增加' '本期减小' '期末余额' '保证金余额']

0         名称     本期增加
0         名称     本期增加
5     佛岗安基建材     1248
8    置地裕万陶钟生   1767.6
27  怀集大成岗金瑞宝  16181.6
29    中山德田建材    407.2

In [5]:
df2.set_index('名称',inplace=True)
df2.reset_index(inplace=True)
df2.set_value(df2.shape[0]-1, '名称', '总计')
df2.drop([0],axis=0,inplace=True)
df2.index.names=['序号']

C:\Users\iris\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  app.launch_new_instance()

In [6]:
df2.head()

0         名称     本期增加
序号
1     佛岗安基建材     1248
2    置地裕万陶钟生   1767.6
3   怀集大成岗金瑞宝  16181.6
4     中山德田建材    407.2
5       佛山阿婷  41485.4

In [7]:
df2.tail()

0              名称         本期增加
序号
206         河源余作舟       5427.9
207        郁南尚家设计         1860
208        惠州白兔陶瓷       1370.7
209  澳琪腰线厂B（发外加工）       8452.5
210            总计  2.17586e+06

In [8]:
writer = pd.ExcelWriter(output_filename) #creates instance of an excel workboo
df2.to_excel(writer,'sheet1') #creates workbook 
writer.save() #saves workbook to file in python file directory

In [9]:
print('success')

success